<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homebanking | Transfers</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/styleWeb.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div id="app" v-cloak>
        <header class="d-flex flex-column align-items-center headerTransfer">
            <nav class="d-flex justify-content-around align-items-center">
                <img class="imgLogo" src="../images/logo.png" alt="">
                <h1>Brothers Bank</h1>
                <img class="imgLogo" src="../images/logoBank.png" alt="">
            </nav>
            <div class="navLink d-flex justify-content-evenly">
                <a class="Btn" href="../../accounts.html" data-text="Accounts">Accounts</a>
                <a class="Btn" href="./card.html" data-text="Cards">Cards</a>
                <a class="Btn" href="./loanApplication.html" data-text="Loan application">Loan application</a>
                <button class="Btn" type="button" @click.prevent="logoutClient()" data-text="logout">logout</button>
            </div>
            <h2>Make your transfers here</h2>
        </header>
        <main class=" d-flex align-items-center flex-column mainWithForm">
            <div class=" transferInp">
                <div class="input-group">
                    <select v-model="originNumber" class="form-select" aria-label="Default select example">
                        <option value="">Origin account</option>
                        <option v-for="account of accounts" :value="account.number">{{account.number}} (Balance:
                            US${{account.balance }})</option>
                    </select>
                </div>
                <p class="mb-0 mt-1">Please enter the account to which you will make the transfer</p>
                <div class="form-check forChe">
                    <p class="mb-0">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Transfer to own account
                        </label>
                    <div class="collapse" id="collapseExample">
                        <select v-model="destinationNumber" class="form-select" aria-label="Default select example">
                            <option value="" selected>Select your account</option>
                            <option v-for="account of accounts">{{account.number}}</option>
                        </select>
                    </div>
                    </p>
                </div>
                <div class="form-check forChe">
                    <p class="mb-0">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            data-bs-toggle="collapse" href="#collapse" aria-expanded="false" aria-controls="collapse">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Transfer to third party account
                        </label>
                    <div class="collapse" id="collapse">
                        <div class="input-group mb-3">
                            <span class="input-group-text">N°</span>
                            <input v-model="destinationNumber" type="text" class="form-control"
                                aria-label="Default select example">
                        </div>
                    </div>
                    </p>
                </div>
                <p class="mb-0 mt-1">Please, enter the amount that you wish to transfer</p>
                <div class="input-group mb-3">
                    <span class="input-group-text">US$</span>
                    <input v-model="amount" type="number" class="form-control"
                        aria-label="Amount (to the nearest dollar)" x>
                </div>
                <div class="input-group">
                    <p class="mb-0 mt-1">Description</p>
                    <textarea v-model="description" class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <button type="button" class="Btn" @click.prevent="generateTransfer"
                data-text="Confirm transfer">Confirm transfer</button>
        </main>
    </div>
    <footer class="d-flex justify-content-around align-items-center">
        <p class="slogan">Legacy, Trust, Brotherhood: Elevating Your Financial Journey.</p>
        <div>
            <img class="imgFoot" src="../images/facebook.png" alt="">
            <img class="imgFoot" src="../images/instagram.png" alt="">
            <img class="imgFoot" src="../images/whatsapp.png" alt="">
        </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../scripts/transfer.js"></script>
</body>

</html>