* {
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#app {
    background-color: rgb(236, 234, 241);
    /* min-height: 100vh; */
    width: 100% !important;
}

[v-cloak] {
    display: none;
}

header {
    height: 30vh;
}

.headerLog {
    height: 25vh;
}

.headerPrin {
    height: 22vh;
}

.headerAccount {
    height: 22vh;
}
.headerLoanApply{
    height: 30vh;
}

.headerPayLoan{
    height: 30vh;
}

.headerCard {
    height: 30vh;
}

.headerTransfer{
    height: 30vh;
}

nav {
    background-color: rgb(82, 9, 150);
    width: 100% !important;
}

.anchor {
    width: 100%;
    height: 10vh;
    padding-right: 9rem !important;
}

.navLink {
    margin-top: 6px !important;
    height: 5vh;
    width: 45vw;
}

.navLinkAdm {
    margin-top: 0px !important;
    height: 5vh;
    width: 45vw;
}

h1 {
    background: linear-gradient(to right, #99690a, #ffd277, #b87d08, #af780b, #ffd277, #77530a);
    -webkit-background: text;
    color: transparent;
    border-radius: 5px;
    width: 20vw;
    text-align: center;
}

h4 {
    font-weight: bold !important;
}

.chekNewLoan {
    padding-left: 2rem !important;
    gap: 2rem !important;
}

.slogan {
    background-clip: text;
    background: linear-gradient(to right, #f0a206, #ffd277, #b8a608, #af910b, #ffd277, #f0a206);
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 5px;
    width: auto;
    text-align: center;
    font-weight: bold !important;
}

.navLink>a {
    height: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(197, 156, 23);
    border-radius: 8px;
}

.widthForm {
    width: 30vw;
}

.navLink>button {
    background-color: rgb(82, 9, 150);
    height: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(197, 156, 23);
    border-radius: 8px;
}

.imgLogo {
    height: 14vh;
}

main {
    min-height: 65vh !important;
}

.mainAccount {
    min-height: 68vh !important;
    gap: 3rem !important;
}

.mainNewLoan{
    min-height: 68vh !important;
    gap: 3rem !important;
}

.mainNewLoan::before{
    object-fit: contain;
    content: "";
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(../images/newLoan.png);
    background-repeat: no-repeat;
    background-position: 50% -25%;
    background-size: 70% 75%;
    opacity: 0.3;
}

.transferInpNL{
    position: relative;
    z-index: 1;
    width: 90vw !important;
}

.mainWithForm {
    min-height: 60vh !important;
    gap: 1rem !important;
    position: relative;
}

.mainWithForm::before {
    object-fit: contain;
    content: "";
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(../images/transferSinFondo.png);
    background-repeat: no-repeat;
    background-position: 63% 50%;
    background-size: 85% 100%;
    opacity: 0.3;
    gap: 2rem;
}

.mainWithFormLoan{
    min-height: 60vh !important;
    gap: 1rem !important;
    position: relative;
}
.mainWithFormLoan::before{
    object-fit: contain;
    content: "";
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(../images/loansSinFondo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85% 100%;
    opacity: 0.4;
    gap: 2rem;
}

.transferInp {
    position: relative;
    z-index: 1;
}

.mainLogin{
    min-height: 65vh !important;
    gap: 1rem !important;
    position: relative;
    align-items: flex-start !important;
    width: 80vw;
    padding-left: 5rem !important;
}
.mainLogin::before{
    object-fit: contain;
    content: "";
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(../images/loginSinFondo.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 65% 100%;
    opacity: 0.4;
    gap: 2rem;
}

.mainPayLoan{
    min-height: 60vh !important;
    gap: 1rem !important;
    position: relative;
}
.mainPayLoan::before{
    object-fit: contain;
    content: "";
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(../images/payLoanSinFondo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70% 100%;
    opacity: 0.4;
    gap: 2rem;
}


.mainCard {
    gap: 3rem !important;
    min-height: 65vh !important;
}

.rowTable {
    height: 2rem !important;
}

.mainNewCard {
    min-height: 60vh !important;
}

.spanNewLoan{
    padding-right: 15px !important;
}

h2 {
    width: auto;
    text-align: center;
    color: rgb(37, 3, 68) !important;
    background-color: rgba(91, 92, 54, 0.329);
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    border-radius: 1rem;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

h3 {
    color: rgb(37, 3, 68) !important;
    margin: 1rem !important;
    margin-bottom: 5px !important;
}

.regH3 {
    color: rgb(37, 3, 68) !important;
    margin: 0 !important;
}

article {
    width: 30vw;
}

.table {
    width: 30vw !important;
}

.botonRegister {
    margin-left: 1rem !important;
}

.titles {
    z-index: 1 !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.493);
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    font-size: 3rem !important;
}

.carHeader {
    height: 25vh !important;
    object-fit: cover !important;
    width: 80vw !important;
    margin-bottom: 1rem !important;
}

.imCar {
    object-fit: cover !important;
    object-position: center !important;
    height: 50vh !important;
}

.presHome {
    display: flex;
    width: 80vw;
    height: 25vh;
    align-items: center;
    gap: 10rem;
    margin-bottom: 1rem !important;
    justify-content: center;
}

.imgHome {
    object-fit: cover;
    width: 35vw;
    height: 25vh;
}

.textIndex {
    width: 35vw;
}

.warninAdmin {
    color: red !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
}

footer {
    height: 10vh;
    background-color: rgb(82, 9, 150);
    gap: 1rem !important;
    padding-right: 10rem !important;
}

.imgFoot {
    height: 5vh;
    margin-left: 1rem;
}

.transactionDebit {
    background-color: rgba(255, 0, 0, 0.226) !important;
    color: rgb(124, 0, 0) !important;
}

.transactionCredit {
    background-color: rgba(0, 128, 0, 0.226) !important;
    color: rgb(0, 73, 0) !important;
}

.cardGold {
    background-image: linear-gradient(-45deg, #47473f, #f0ec11e0, #47473f) !important;
}

.cardSilver {
    background-image: linear-gradient(-45deg, #0a0a0a, #d6d6d4e0, #0a0a0aa9) !important;
}

.cardTitanium {
    background-image: linear-gradient(-45deg, #0e0e0d, #0c0c0ce0, #47473f) !important;
}

.cardThruDate {
    box-shadow: rgba(219, 6, 6, 0.692) 0px 5px 15px;
    border-radius: 15px
}

.payLoan {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}

.Btn {
    width: fit-content;
    height: 35px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    margin-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.Btn::before {
    position: absolute;
    content: attr(data-text);
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.Btn:hover {
    background-position: right;
    transition-duration: 1s;
}

.Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.Btn:active {
    transform: scale(0.95);
}


.input-group{
    width: 32vw !important;
}

/* ---------------------------------------CARD----------------------------------------------- */
.containerCRD {
    min-height: 40vh !important;
    width: 40vw !important;
    background: rgb(236, 234, 241) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}


.cardCRD {
    width: 400px !important;
    height: 260px !important;
    color: #fff;
    cursor: pointer !important;
    perspective: 1000px !important;
}

.card-innerCRD {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    transition: transform 1s !important;
    transform-style: preserve-3d !important;
}

.frontCRD,
.backCRD {
    width: 100% !important;
    height: 100%;
    background-image: linear-gradient(-45deg, #47473f, #f0ec11e0, #47473f);
    position: absolute !important;
    top: 0;
    left: 0;
    padding: 20px 30px !important;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.rowCRD {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.map-imgCRD {
    width: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    opacity: 0.3 !important;
    z-index: -1 !important;
}

.card-noCRD {
    font-size: 20px !important;
    margin-top: 15px !important;
    letter-spacing: 2px !important;
}



.card-holderCRD {
    font-size: 12px !important;
    margin-top: 40px !important;
}

.nameCRD {
    font-size: 22px !important;
    margin-top: 20px !important;
}

.barCRD {
    background: #222 !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
    height: 60px !important;
    margin-top: 10px !important;
}

.card-cvvCRD {
    margin-top: 20px !important;
}

.card-cvvCRD div {
    flex: 1 !important;
}

.card-cvvCRD img {
    width: 100% !important;
    display: block !important;
    line-height: 0 !important;
}

.card-cvvCRD p {
    background: #fff;
    color: #000;
    font-size: 22px !important;
    padding: 10px 20px !important;
}

.card-textCRD {
    margin-top: 30px !important;
    font-size: 14px !important;
}

.signatureCRD {
    margin-top: 30px !important;
}

.backCRD {
    transform: rotateY(180deg) !important;
}

.cardCRD:hover .card-innerCRD {
    transform: rotateY(-180deg) !important;
}

.newCard {
    margin-top: 2rem !important;
    width: 30vw !important;
}

/* --------------------------------------------------------------- */
.card {
    width: 25vw !important;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
    width: 100% !important;
    height: 40px !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    padding-left: 20px !important;
    border-bottom: 1px solid #efeff3 !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: rgb(37, 3, 68) !important;
}

.checkout {
    border-radius: 9px 9px 19px 19px !important;
}

.checkout .details {
    display: grid !important;
    grid-template-columns: 2fr 1fr !important;
    padding: 10px !important;
    gap: 5px !important;
}

.checkout .details span {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.checkout .details span:nth-child(odd) {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #707175;
    margin: auto auto auto 0 !important;
}

.checkout .details span:nth-child(even) {
    font-size: 15px !important;
    font-weight: 600 !important;
    color: rgb(37, 3, 68) !important;
    margin: auto 0 auto auto !important;
}

.checkout .checkout--footer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0px 0px 10px 0px !important;
    background-color: #efeff3 !important;
    gap: 40px !important;
}

.modal-title {
    width: 100% !important;
    text-align: center !important;
    color: #ffd277;
    background-color: rgb(37, 3, 68) !important;
}

.price {
    position: relative;
    font-size: 22px;
    color: #0d0d0e;
    font-weight: 900;
}

.price sup {
    font-size: 13px;
}

.price sub {
    width: fit-content !important;
    position: absolute !important;
    font-size: 11px !important;
    color: #2a06f7 !important;
    bottom: 5px !important;
    display: inline-block !important;
}

.checkout .checkout-btn {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    width: 150px !important;
    height: 36px !important;
    background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%) !important;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5) !important;
    border-radius: 7px !important;
    border: 0 !important;
    outline: none !important;
    color: #ffffff !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1) !important;
}

#tableLoans {
    justify-content: space-around !important;
}

.table {
    width: 40vw !important;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
    font-weight: 700 !important;
    font-size: 20px !important;
    color: rgb(37, 3, 68) !important;
}

.details {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #47484b !important;
}

.transferInp {
    width: 40vw;
}

.forChe {
    padding-left: 2rem !important;
    min-height: 10px !important;
}

@media(max-width:720px) {
    h1 {
        width: auto;
    }

    .warninAdmin {
        width: 90vw;
    }

    nav {
        flex-direction: column;
        height: 40vh !important;
    }

    .navLink {
        flex-direction: column;
        align-items: center;
        min-height: 30vh;
        width: 30vh;
    }

    .navLinkAdm{
        flex-direction: column;
        align-items: center;
        min-height: 30vh;
        width: 30vh;
    }

    .contLoan {
        flex-direction: column;
    }

    .contImgFoot {
        display: flex;
        width: 40vw;
    }

    .widthForm {
        width: 80vw;
    }

    .card {
        width: 90vw !important;
    }

    .mainNewLoan{
        margin-top: 6rem !important;
        flex-direction: column;
        width: 95vw;
        height: 50vh !important;
    }

    .mainCard{
        flex-direction: column;
    }

    .card-innerCRD {
        width: 94% !important;
    }

    .mainAccount {
        margin-top: 7rem !important;
    }

    .mainWithFormLoan {
        margin-top: 6rem !important;
    }

    .frontCRD, .backCRD {
        width: 89% !important;
        height: 99%;
    }


    .cardCRD {
        width: 372px !important;
        height: 253px !important;
    }

    .containerCRD {
        width: 119vw !important;
    }

    .mainNewLoan::before {
        height: 78%;
    }

    .input-group{
        width: 90vw !important;
    }

    .accounts {
        flex-direction: column;
        width: 95vw;
    }

    header {
        height: 63vh;
    }

    .imgLogo {
        display: none !important;
    }

    footer {
        width: 100vw;
    }

    .slogan {
        display: none;
    }

    .presHome{
        flex-direction: column;
        gap: 0;
        width: 100%;
        min-height: 70vh;
    }

    .titles{
        font-size: 2rem !important;
    }

    .anchor{
        padding-right: 1rem !important;
        margin-bottom: 8px !important;
    }

    .carHeader {
        width: 90vw !important;
        margin-bottom: 10px !important;
    }

    .textIndex {
        width: 90vw;
    }

    article {
        width: 90vw;
    }

    .imgHome {
        width: 75vw;
    }
    .transferInp {
        width: 90vw;
    }

    .mainPayLoan {
        margin-top: 7rem !important;
    }
}

@media(min-width: 721px) and (max-width:1330px) {
    header {
        height: 30vh;
    }


    .anchor{
        padding-right: 4rem !important;
        margin-bottom: 8px !important;
    }

    .textIndex {
        width: 40vw;
    }

    article {
        width: 39vw;
    }

    .imgHome {
        width: 40vw;
        height: 30vh;
    }

    .presHome{
        gap: 3rem;
        width: 100%;
        min-height: 45vh;
    }

    .warninAdmin {
        width: 84vw;
    }

    .card {

        width: 47vw !important;
    }

    .contImgFoot {
        display: flex;
        width: 20vw;
    }

    .accounts {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    footer {
        padding-right: 0 !important;
    }

    .navLink {
        margin-top: 0px !important;
        width: 95vh;
    }
    .navLinkAdm{
        margin-top: 0px !important;
        width: 95vh;
    }
    h1 {
        width: 30vw;
    }

    h2 {
        margin-top: 16px !important;
    }
}